.grid-outter-container {
    padding: 1%;
    padding-top: 2%;
    height: 80vh;
    position: relative;
}

.grid-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item-container {
    margin-left: 0.5em;
}

.card {
    padding: 1em;
}

.nav-title {
    flex: 1;
}

.link-style-reset {
    text-decoration: none;
    color: white;
}

.progress-circle {
    position: absolute;
    height: 3em;
    width: 3em;
    top: 50%;
    left: 50%;
    margin: -1.5em 0 0 -1.5em;
}