.grid-container {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.grid-item-container {
    margin: 0.25em;
}
