.grid-outter-container {
    padding: 1em;
    padding-top: 2em;
    height: 100%;
    width: 100%;
}

.grid-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item-container {
    margin-left: 0.5em;

}

.center-text {
    text-align: center;  
}

.card {
    padding: 1em;
}