.grid-outter-container {
    padding: 1%;
    padding-top: 2%;
    height: 98%;
    width: 99%;
}

.grid-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item-container {
    margin-left: 0.5em;

}

.card {
    padding: 1em;
}