.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    padding: 1em;
}

.card-item {
    text-align: center;
    margin: 1em;
}