.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container {
    padding: 1em;
    margin: 4em;
}

.card-item {
    text-align: center;
    margin: 2em 0.75em;
}

.icon-text-field {
    color: #888888;
}

.progress-circle {
    height: fit-content;
    width: fit-content;
}