.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card-heading {
    flex-grow: 3;
}