.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linear-progress {
    margin: 2em;
    width: 80%;
    height: 3em;
}

.hidden-input {
    display: none;
}